<div class="tasks-page">
	<div class="tasks-header">
		<div class="tasks-title">
			<h2>Tasks page for <i>{{userName}}</i></h2>
		</div>
		<select class="tasks-filter" ng-model="filter" ng-change="dispatchFilter()">
			<option ng-repeat="(key, value) in filters" value="{{value}}">{{value}}</option>
		</select>
	</div>
	<div class="tasks-list">
		<table class="tasks-table" >
			<thead align="left">
				<tr>
					<th class="is-task-completed-column"></th>
					<th class="task-id-column">Id</th>
					<th class="task-name-column">Name</th>
					<th class="task-deadline-column">Deadline</th>
					<th class="task-remove-column"></th>
				</tr>
			</thead>
			<tbody ng:model="tasks">
				<tr ng-repeat="task in tasks" class="task-table-item">
					<td>
						<input type="checkbox" ng-change="completedStatusIsChanged(task.id)" ng-model="task.isCompleted" title="Complete task"/>
					</td>
					<td><b>{{task.id}}</b></td>
					<td>{{task.name}}</td>
					<td>{{task.deadline}}</td>
					<td><a class="remove-task" title="Remove task" ng-click="removeTask(task.id)">x</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
	<button class="create-task-btn" ng-click="showAddNewTaskArea()" ng-show="!isAddNewTaskAreaVisible">Create new task</button>
	<div ng-keyup="$event.keyCode == 13 && saveTask()" ng-show="isAddNewTaskAreaVisible">
		<input type="text" class="task-name" placeholder="name" ng-model="newTaskName" ng-change="dispatchTaskName()" />
		<input type="date" class="task-date" ng-model="newDeadlineDate" ng-change="dispatchDeadlineDate()" />
		<button class="save-task-btn" ng-click="saveTask()">Save</button>
	</div>
</div>