<div class="welcome-page">
	<h2>Hello {{username}}! You have {{countTasks}} tasks in your storage</h2>
	<input type="text" ng-model="username" placeholder="Enter your name here" ng-change="changeUserName()" autofocus>
</div>