.menu {
	position: relative;
	left: 10px;
}

.menu-title {
    margin: 10px 0 6px 0;
    font-family: serif;
    font-weight: bold;
}

a.menu-item {
    text-decoration: none;
    font-weight: bold;
    color: #3FA000;
    font-size: 20px;
}

a.menu-item:hover {
    color: #2B2D2B;
    box-shadow: inset 0px 0px 1px 18px rgba(0, 0, 0, 0.25), 0px 0px 14px 9px rgba(0, 0, 0, 0.25);
}