.tasks-header {
    height: 50px;
}

.tasks-title {
    display: inline-block;
}

select.tasks-filter {
    margin-left: 35px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(222, 223, 224, 0.5);
    padding: 12px;
    width: auto;
    color: #000000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
}

select.tasks-filter:hover {
    background-color: rgba(222, 223, 224, 0.9);
}

.tasks-list {
    margin-top: 20px;
}

.tasks-table {
    border-spacing: 0;
    font-size: 16px;
}

a.remove-task {
	font-family: cursive;
    font-style: oblique;
    font-weight: 700;
    text-decoration: initial;
    cursor: pointer;
    position: relative;
    bottom: 4px;
}

a.remove-task:hover {
    box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

th.is-task-completed-column {
    min-width: 20px;
}

th.task-id-column {
    min-width: 16px;
}

th.task-name-column {
    min-width: 550px;
}

th.task-deadline-column {
    min-width: 72px;
}

th.task-remove-column {
    min-width: 10px;
}

.tasks-table tbody tr:nth-child(2n+1) {
    background: #D9FDB5;
}

.create-task-btn, .save-task-btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color: #2dabf9;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border: 1px outset buttonface;
    border-radius: 11px;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
}
.create-task-btn:hover, .save-task-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color: #0688fa;
}

.create-task-btn:focus, .save-task-btn:focus {
    outline: none;
}

input.task-name {
    width: 500px;
}

input.task-date {
    font-weight: bold;
}